*{
  box-sizing: border-box;
  margin: 0px;
}

body {
    font-family: Helvetica, cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;

   }
   
  
   
   header {
    background-color: black ;
    color: blue;
    box-shadow: 1px 1px 5px 3px #808080;
    padding-left: -1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
   }
   
   main{
    
    color: green;
    align-items: center;
    justify-content: center;
    margin: left 200px; ;
    text-align: center;
    line-height: 25px;
  
   }

   footer {
    padding: 715px 20px 50px;
    text-align: center;
    line-height: 25px;
    background-color: black;
    font-size: 18px;
    color: #362f2a;
    
   }
   
   #coin-type,#crypto-quote{
    height: 10rem;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
  
    
   }
   #left-photos,#right-photos{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1D2330

   }
 